.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: url("./img/header_blue.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.header__central {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 90%;
    flex: 1 0 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__title-brand-name {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
    letter-spacing: 4.8px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 18px 0;
}

.header__title {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    letter-spacing: 6px;
    color: white;
    margin: 0 0 50px 0;
}

.header__search-form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 31.64% 120px 31.64%;
    max-width: 650px;
    height: 61px;
    position: relative;
    display: block;
    border: none;
}

.header__input-text {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border: none;
    padding-right: 150px;
    padding-left: 20px;
}

.header__input-text::-webkit-input-placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.header__input-text::-moz-placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.header__input-text:-ms-input-placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.header__input-text::-ms-input-placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.header__input-text::placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    letter-spacing: 3px;
}

.header__search-button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 146px;
    height: 56px;
    padding-right: 20px;
    background: #5474fd;
    position: absolute;
    right: 2px;
    top: 2px;
    border: none;
    font-family: "Aleo", serif;
    font-weight: 400;
    letter-spacing: 1.4px;
    font-size: 14px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.header__scroll-down {
    position: relative;
    font-size: 14px;
    letter-spacing: 3px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    padding-bottom: 25px;
    text-align: center;
    display: block;
}

.header__scroll-down::after {
    content: url("./img/scroll_down.svg");
    position: absolute;
    top: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.header__search-button::after {
    position: absolute;
    content: url("./img/search.svg");
    top: 19px;
    right: 20px;
}

.header__nav {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background: #5474fd;
    -ms-flex-item-align: end;
    align-self: flex-end;
    min-height: 80px;
    padding: 0 18.64%;
}

.header .header__logo-link {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.header .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header .nav__link {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: left;
    text-decoration: none;
}

.header .nav__item {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 36px 0 0;
}

.header .nav__item:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: 20px;
    background-color: #acbcff;
}

.header .nav__links li:last-of-type {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 0px;
}

.why-choose-us {
    background: url("./img/castle.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 18.64%;
}

.why-choose-us__text-part-wraper {
    max-width: 540px;
    max-height: 360px;
}

.why-choose-us__title {
    font-size: 36px;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: white;
    margin-bottom: 62px;
}

.why-choose-us__paragraph {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin-bottom: 38px;
}

.why-choose-us__pic-part-wraper {
    min-width: 376px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.why-choose-us__pic1 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 5px;
}

.why-choose-us__pic2 {
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.why-choose-us__link {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 255px;
    height: 60px;
    background: linear-gradient(43deg, #496bfe 42.75%, #5474fd 42.75%);
    text-decoration: none;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

.how-it-works {
    height: 40vh;
    width: 100%;
    background: #333333;
    padding-top: 40px;
    padding-bottom: 40px;
}

.how-it-works__ico-row-flex {
    display: flex;
    height: fit-content;
    justify-content: center;
}

.how-it-works__decor-line {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 60px;
    align-self: flex-start;
    padding-bottom: 115px;
}

.how-it-works__decor-line::before {
    content: "";
    border-top: 1px dashed #868686;
    border-radius: 50%;
    width: 460px;
    height: 498px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.how-it-works__ico-block {
    margin-right: -73px;
    margin-left: -70px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.how-it-works__ico-text {
    min-width: 212px;
    font-size: 36px;
    font-family: "Aleo", serif;
    color: white;
    line-height: 0.722;
    text-align: center;
}

.how-it-works__ico-pic {
    width: fit-content;
    margin-bottom: 35px;
}

.button-link {
    box-sizing: border-box;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 60px;
    background: linear-gradient(43deg, #496bfe 41%, #5474fd 41%);
    text-decoration: none;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.spain {
    background-image: url("./img/house_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 18.64%;
    display: flex;
    align-items: center;
    padding-top: 230px;
    padding-bottom: 100px;
}

.booking-window {
    width: 440px;
    height: 271px;
    background-color: #3d3d3ddd;
    padding: 50px 30px;
}

.booking-window__country-name {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 32px;
}

.booking-window__hotel-name {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.booking-window_p {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: white;
    line-height: 26px;
    margin-bottom: 48px;
}

.spain2 {
    background-image: url("./img/mountain.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 18.64%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 230px;
    padding-bottom: 100px;
}

.recommend {
    width: 1770px;
    height: 731px;
    background-image: url("./img/man_hat.png");
}

.recommend_title {
    font-size: 36px;
    font-family: "Aleo", serif;
    font-weight: 400;
    color: white;
    margin-bottom: 209px;
    margin-left: 550px;
    padding-top: 110px;
    display: flex;
    align-content: center;
}

.recommend_img {
    padding-left: 342px;
    margin-top: -134px;
}

.recommend_wrapper {
    width: 540px;
    height: 284px;
    background-color: #3d3d3ddd;
    padding: 1px 788px;
    margin-top: -287px;
}

.recommend_small_title {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-left: 63px;
    padding-top: 58px;
}

.recommend_p {
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: white;
    line-height: 26px;
    margin-bottom: 48px;
    float: left;
    margin-right: -104px;
    padding-left: 72px;
}

.quote {
    font-weight: bold;
    font-size: 36px;
    padding-left: 49px;
}

.blue_quote {
    fill: #5474fd;
}

.footer {
    width: 1770px;
    height: 268px;
    background-color: #333333;
}

.title_footer {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.footer_wrapper {
    width: 540px;
    height: 284px;
    text-align: right;
    padding-top: 143px;
    padding-left: 436px;
}

.footer_p {
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    color: white;
    padding-top: 17px;
}

.icons {
    margin: 0 15px;
    margin-bottom: 90px;
    text-align: center;
    padding-left: 334px;
    padding-top: 17px;
}