/*
Стили отвратительный, просто копировала из приложения.
Половина стилей в лучшем случае - "безполезны",
вдругом же случае - они ломают правильную отрисовку блоков

1) Не копируй стили которые тебе предлагает дизайнерское приложение(ты не дизайнер, а програмист)
2) Научись инспектировать и оценивать свою работу в браузере - Ето черезвычайно важно
3) Классы должны быть говоряшими, тоесть название класса должно отвечает на вопросы "Что ето ?" / "Кто я ?" / "Что внутри меня ?"
4) Прежде чем применять какието стили - неполенись и Прочитай что они делают.
5) ЛЮБОЙ-Контент не должен выходить за граници родительского блока(<div>)

Повторю теорию что такое БЕМ :
БЛОК - ето елемент страници который может быть копирован в любое место страници, без искажения стилей внутри.
       блоки могут вкладыватся друг в друга.
ЕЛЕМЕНТ - строго пренадлежит БЛОКу внутри которого он находится. Елемента за блоком быть не может.
МОДИФИКАТОР - класс который будет изменять повидение ЕЛЕМЕНТов и БЛОКов и неважно где.


СЛЕДОВАТЕЛЬНО нужно строить дерево css классов в HTMLе.
 К примеру такая структура в HTML :
краткая запись (сделана для Emmet плагина. Вставить в HTML и нажать ТАБ):
  ``` .header>.header__logo>.header__icon+.header__title^+.header__menu.menu>.menu__item*4>.menu__icon+.menu__title ```
развернутая запись : ```
    <div class="header">
        <div class="header__logo">
            <div class="header__icon"></div>
            <div class="header__title"></div>
        </div>
        <div class="header__menu menu">
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
            <div class="menu__item">
                <div class="menu__icon"></div>
                <div class="menu__title"></div>
            </div>
        </div>
    </div>
```



В данном примере:
header и menu --- Ето Блоки
menu__item / menu__title / menu__icon --- Елементы блока "menu"
header__logo / header__icon / header__menu  --- Елементы блока "header"

МОДИФИКАТОРы - я неприводил в пример, для начала нужно освоить такую структуру.
*/

.background {
    height: 976px;
    width: 100%;
    display: flex;
}

.background .column {
    text-align: center;
    margin-top:  501px;
}

.background .column p {
    padding: 39px;
    color: dimgrey;
    margin-top: 136px;
}

.who {
    background-color: white;
}

.web_design,
.web_development,
.graphics,
.illustrations {
    font-size: 21px;
    font-family: "Montserrat";
    color: rgb(27, 27, 27);
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 48px;
}

.who_we_are {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(137, 143, 153);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: right;
    position: absolute;
    left: 585.734px;
    top: 132.5px;
    z-index: 40;
}

.hello_namaste {
    font-size: 48px;
    font-family: "Montserrat";
    color: rgb(14, 200, 203);
    text-transform: uppercase;
    line-height: 0.625;
    text-align: right;
    position: absolute;
    left: 368.531px;
    top: 190px;
    z-index: 39;
    letter-spacing: 5px;
}

.we_not {
    font-size: 18px;
    font-family: "PTSans";
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    position: absolute;
    left: 375.797px;
    top: 294.908px;
    width: 513px;
    height: 43px;
    z-index: 38;
}



.column_web_design {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #edf5f7;

}

.column_web_design:hover {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #4fefea;
    color: white;
}

.column_web_development {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #edf5f7;
}

.column_web_development:hover {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #4fefea;
    color: white;
}

.column_graphics {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #edf5f7;
}

.column_graphics:hover {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #4fefea;
    color: white;
}

.column_illustrations {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #edf5f7;
}

.column_illustrations:hover {
    /* Отвратительный подход
    - потому что ето повидение у всех блоков одинаковое, а значит ненужно на каждый блок отдельно давать такой стиль
    */
    background-color: #4fefea;
    color: white;
}

p {
    margin-top: 230px;
}
